@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

.section-container {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
